<h1>Camp {{year}}: {{title}}</h1>
{{#if student1}}
  <section class="inline-parent">
    <div class="inline-child"><img src={{student1.photo}} class="student-photo"></div>
    <div class="inline-child"><h2 class="student-header">{{student1.name}}</h2><p>{{student1.school}}</p><div>
  </section>
{{/if}}

<p>{{description}}</p>

{{#each this}}
  {{#if_indexOf @key 'photo'}}
    {{> photo}}
  {{/if_indexOf}}
{{/each}}
