<div class="col-xs-12 col-sm-4 col-md-4" style="text-align: center; margin-bottom: 20px;">
  {{#if photo}}
    <img src={{photo}} alt={{name}} class="team-photo">
  {{/if}}
  
  <h3>{{name.first}} {{name.last}}, {{title}}</h3>
  <div>
  {{#if linkedin}}
    <a href={{linkedin}}><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a>
  {{/if}}

  {{#if website}}
    <a href={{website}}><i class="fa fa-code fa-2x" aria-hidden="true"></i></a>
  {{/if}}

  {{#if twitter}}
    <a href={{twitter}}><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
  {{/if}}

  {{#if instagram}}
    <a href={{instagram}}><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
  {{/if}}
  </div>

</div>