<div class="col-xs-12 col-sm-6 col-md-6">
  
  <h3>{{name.first}} {{name.last}}</h3>
  <h4>{{title}}</h4>
  {{#if linkedin}}
    <a href={{linkedin}}><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a>
  {{/if}}

  {{#if website}}
    <a href={{website}}><i class="fa fa-code fa-2x" aria-hidden="true"></i></a>
  {{/if}}

  {{#if twitter}}
    <a href={{twitter}}><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
  {{/if}}

  {{#if instagram}}
    <a href={{instagram}}><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
  {{/if}}

  {{#if photo}}
    <img src={{photo}} alt={{name}} class="max-width">
  {{/if}}

</div>