<div class="col-xs-12 col-sm-6 col-md-4">
  
  <h2>{{name.first}} {{name.last}}</h2>
  <h3>{{title}}</h3>

  {{#if linkedin}}
    <h4>{{linkedin}}</h4>
  {{/if}}

  {{#if website}}
    <h4>{{website}}</h4>
  {{/if}}

  {{#if twitter}}
    <h4>{{twitter}}</h4>
  {{/if}}

  {{#if instagram}}
    <h4>{{instagram}}</h4>
  {{/if}}

  {{#if photo}}
    <img src={{photo}} alt={{name}}>
  {{/if}}

</div>