<div class="parent-preview col-xs-12 col-sm-6 col-md-4"><a href="/{{parent.camp}}/{{child.title}}">
  <div class="image-preview-div"><img src={{child.cover.link}} alt={{child.title}} class="max-width image-preview-img"></div>
  <div class="link-preview"><h1 class="title">{{child.title}}</h1></div>
  </a>
</div>